on init
    setprop sys.usb.ffs.aio_compat 1
    setprop persist.adb.nonblocking_ffs 0
    setprop ro.adb.nonblocking_ffs 0
    setprop persist.sys.usb.config adb

    # Force disable all VoLTE support -- it requires intensive modification of frameworks
    # without framework support it creates all sorts of problems. Disable it.
    setprop persist.vendor.mtk.volte.enable 0
    setprop persist.vendor.mtk_ct_volte_support 0

on charger
    start charger

service charger /system/bin/charger
    class charger
    group system wakelock
    capabilities BLOCK_SUSPEND SYS_ADMIN SYS_BOOT
